.about {
    padding: 106px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .image-about img {
        width: 600px;
        height: auto;
    }

    & .description-about {
        max-width: 585px;

        & .title {
            display: flex;
            flex-direction: column;
            gap: 14px;


            & .detail {
                & p {
                    font-size: 16px;
                    font-size: 500;
                    color: var(--color-primary);
                }

                & .trace {
                    background-color: var(--color-primary);
                    height: 1px;
                    width: 8%;
                }
            }

            & h2 {
                font-size: 36px;
                font-weight: 700;
            }
            
        }

        .text-about {
            margin-top: 63px;

            & p {
                font-size: 20px;
                font-weight: 400;
            }

            & .button-about {
                margin-top: 27px;

                & button {
                    background-color: var(--color-primary);
                    border: none;
                    border-radius: 40px;
                    padding: 15px 21px;

                    color: var(--color-white);
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                }

                & button:hover {
                    background-color: var(--color-background-page);
                    color: var(--color-primary);
                    border: 1px solid var(--color-primary);
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .about {
        padding: 20px 0px;
        flex-direction: column;

        & .image-about img {
            width: 350px;
            height: auto;
            border-radius: 10px;
        }

        & .description-about {
            width: 100%;

            & .title {
                align-items: center;
                margin-top: 20px;
                gap: 14px;

                & .detail {
                    & .trace {
                        width: 50%;
                    }
                }

                & h2 {
                    font-size: 25px;
                }
            }

            & .text-about {
                margin-top: 25px;

                & p {
                    font-size: 16px;
                }

                & .button-about button {
                    padding: 15px;
                    border-radius: 40px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}