.contact {
    padding: 60px 125px;

    & .title-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        & h2 {
            margin-top: 15px;
            font-size: 36px;
            font-weight: 400;
        }

        & p {
            font-size: 18px;
            font-weight: 400;
            color: var(--color-secondary);
        }
    }

    .methods-contact {
        margin-top: 35px;
        display: flex;
        /* gap: 50px; */
        align-items: center;
        justify-content: space-between;

        & .infos {
            display: flex;
            gap: 61px;
            flex-wrap: wrap;

            & .info {
                width: 267px;
                background-color: var(--color-white);
                border-radius: 10px;
                padding: 30px 13px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                & .image {
                    background-color: var(--color-circle);
                    padding: 13px;
                    border-radius: 50%;
                }

                & .image img {
                    width: 45px;
                    height: 45px;
                }

                & .title-description h3 {
                    font-size: 20px;
                    font-weight: 400;
                }


                & .description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & .p {
                        font-size: 15px;
                        font-weight: 400;
                        color: var(--color-secondary);
                    }
                }
            }
        }

        & .form form{
            width: 449px;
            background-color: var(--color-white);
            display: flex;
            flex-direction: column;
            padding: 30px 34px;
            border-radius: 10px;
            gap: 15px;

            & .name, .service, .business {
                display: flex;
                flex-direction: column;
                gap: 8px; 
            }

            & .email-tel {
                display: flex;
                gap: 10px;
            }

            & input, textarea {
                width: 100%;
                height: 29px;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #E0E0E0;
            }

            & input:focus {
                outline: none;
                border: 2px solid var(--color-primary);
            }

            & textarea:focus {
                outline: none;
                border: 2px solid var(--color-primary);
            }

            & textarea {
                width: 100%;
                resize: none;
                height: 130px;
            }

            & label {
                font-size: 16px;
                font-weight: 400;
                opacity: 0.8;
            }

            & option {
                font-size: 16px;
                background-color: var(--color-primary);
                color: var(--color-white);
                padding: 10px;
            }

            & select:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
            }

            & select {
                border: 1px solid #E0E0E0;
                height: auto;
                padding: 10px;
                border-radius: 8px;
                width: 100%;

            }

            & .button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 30px;

                & button {
                    width: 100%;
                    padding: 15px;
                    border-radius: 40px;
                    background-color: var(--color-primary);
                    border: none;
                    color: var(--color-white);
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contact {
        padding: 20px 0;

        & .title-contact {
            & h2 {
                font-size: 25px;
            }

            & p {
                font-size: 16px;
                text-align: center;
            }
        }

        & .methods-contact {
            flex-direction: column;
            align-items: center;
            gap: 30px;

            & .infos {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                & .info {
                    width: 100%;
                    max-width: 300px;
                }
            }

            & .form {
                width: 100%;
            }

            & .form form {
                width: 100%;
                padding: 10px;

                & input, select {
                    height: 40px;
                }

                & label {
                    font-size: 18px;
                }

                & input::placeholder {
                    font-size: 16px;
                }

                & .email-tel {
                    flex-direction: column;
                }
            }
        }
    }

    
}