.differentials {
    padding: 60px 125px;

    & .title-differential {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .detail-differential {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .detail-differential p {
            font-size: 18px;
            font-weight: 500;
            color: var(--color-primary);
        }
        
        & .detail-differential .trace-differential {
            background-color: var(--color-primary);
            height: 1px;
            width: 50%;
            
        }

        & h2 {
            margin-top: 15px;
            font-size: 36px;
            font-weight: 400;
        }

        & p {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 400;
            color: var(--color-text-gray);
            text-align: center;
            max-width: 606px;
        }
    }

    & .all-differential {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 46px;
        margin-top: 55px;


        & .differential {
            background-color: var(--color-white);
            width: 366px;
            padding: 30px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .image {
                background-color: var(--color-circle);
                padding: 13px;
                border-radius: 50%;
            }

            & .image img {
                width: 45px;
                height: 45px;
            }

            & .description-differential {
                margin-top: 23px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                text-align: center;

                & h3 {
                    font-size: 20px;
                    font-weight: 600;
                }

                & p {
                    font-size: 15px;
                    font-weight: 400;
                    color: var(--color-text-gray);
                }

                & a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    text-decoration: none;
                    color: var(--color-primary);
                }
            }
        }
    }
}